button,
.btn {
	display: inline-block;
	border-radius: 10px;
	font-weight: bold;
	border: 2px solid $color-primary;
	background-color: $color-primary;
	color: $color-text-light;
	@include transition;

	#{$hover} {
		background-color: $color-tertiary;
		color: $color-text-dark;
	}
}