$color-primary: #e95913;
$color-secondary: #c64c10;
$color-tertiary: #dffdec;

$color-text: #3c3c3c;
$color-text-dark: #000;
$color-text-light: #fff;

$color-head: $color-primary;
$color-link: $color-primary;