@import url(//fonts.googleapis.com/css?family=Montserrat:400,700|Hind:400|Roboto+Slab:400,300);

// Unmodified vendor files
@import '0_vendor/reset';

/* $color-primary: #e95913;
$color-secondary: #c64c10;
$color-tertiary: #dffdec;

$color-text: #3c3c3c;
$color-text-dark: #000;
$color-text-light: #fff;

$color-head: $color-primary;
$color-link: $color-primary; */


// Variables
@import '1_variables/general';
@import '1_variables/colors';
@import '1_variables/typography';

// Mixins
@import '2_mixins/general';
@import '2_mixins/colors';
@import '2_mixins/typography';

// Base
@import '3_base/base';
@import '3_base/animations';
@import '3_base/typography';    
@import '3_base/layouts';    
@import '3_base/shared';

// Components
@import '4_components/buttons';
@import '4_components/icons';
@import '4_components/header';
@import '4_components/footer';
@import '4_components/forms';

// Pages
@import '5_pages/home';
@import '5_pages/contact';

// Media
@import '6_media/responsive';
@import '6_media/print';
