/* HEADINGS */
#{$headings} {
	margin-bottom: 0.5em;
	
	&:not(:first-child) {
		margin-top: 0.5em;
	}
}

h1 {
	font-size: 40px;
	color: $color-primary;
	text-transform: lowercase;
}

h2 {
	font-size: 21px;
	color: $color-text-dark;
	font-weight: bold;
}

h3 {
	font-size: 18px;
	color: $color-text-dark;
	font-weight: bold;
}

h4 {
	font-size: 16px;
	color: $color-text-dark;
}



/* LINKS */

a {
	text-decoration: none;
	color: $color-link;
	@include transition;

	#{$hover} {

	}
}


/* GENERAL TEXT */
p {
	&:not(:last-child) {
		margin-bottom: 1em;
	}
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.primary-text {
	color: $color-primary;
}


/* STYLING CLASSES */

.center-text {
    text-align: center;
}